.edit-button {
    border: 2px solid #b5c5b5;
    color: green;
    outline: 0;
    transition: border ease-in .3s;
}
.delete-button {
    border: 2px solid #ffe0e0;
    color: #dd2e2e;
    outline: 0;
    transition: border ease-in .3s;
}
.edit-button:hover {
    border: 2px solid transparent;
}
.delete-button:hover {
    border: 2px solid transparent;
}