.header-search input {
    border: 1px solid #f1f1f1;
    width: 100%;
}
.header-search input:focus, .header-search input:hover, .header-search input:active, .header-search input:visited, .header-search input:target, .header-search input:focus-within, .header-search input:focus-visible {
    border: 1px solid #ddd;
    outline: 0;
}